<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
  .nav-bar {
    background-color: #b9d7ed;
  }

  a {
    color: #098cf0;
    text-decoration: none;
  }

  a:hover {
    color: #146dba;
    text-decoration: none;
    cursor: pointer;
  }

  .button-row>.btn {
    margin-left: 8px;
  }

  .btn {
    background-color: #379eed;
    color: white;
  }

  body {
    margin: 0;
    padding-bottom: 0rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }

  #form {
    background: rgba(77, 38, 38, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
  }

  input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
  }

  #input:focus {
    outline: none;
  }

  #form>button {
    background: rgb(233, 118, 118);
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
  }

  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #messages>li {
    padding: 0.5rem 1rem;
  }

  #messages>li:nth-child(odd) {
    background: #fae3e3;
  }
  .input-message{
    
    border:solid 1px;
    border-color:rgba(252, 214, 214, 0.16) ;
    border-radius: 3px;
    padding-top: 5px;
   
    padding-left: 1rem;
  }

</style>

<body>
  <nav class="container-fluid pb-1 nav-bar">
    <div class="row">
      <div class="col p-2">
        <h1 class=""><a href="/">OpenForConversation</a></h1>
      </div>
      <div class="button-row col d-flex p-3 justify-content-end">
        <a href="/" class="btn navbar-btn">Home</a>
        <a href="/" class="btn navbar-btn">Profile</a>
        <a href="/chat-room" class="btn navbar-btn">Chat room</a>
        <a href="/" class="btn navbar-btn"> Create a chat room</a>
        <a href="/" class="btn navbar-btn"> Sign up</a>
      </div>
    </div>
  </nav>
  
  {{!-- <form id="username-form" action="">
    
  </form> --}}
  <div class="container-fluid text-center">
    <h3>Chat Room NEWS</h3>

  </div>
  <ul id="messages"></ul>
  
  <form id="form" action="">
    
    <span class="input-message" >Username:</span>
    <input class="mr-4"id="username" autocomplete="off" style="max-width: 18rem;" value="User" />
    <span class="input-message" id="inputGroup-sizing-default">Message:</span>
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>

  <script>
    var socket = io();

    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var input = document.getElementById('input');
    var username = document.getElementById('username');
    let message = ''

    //form.addEventListener('submit', function (e) {
      //e.preventDefault();
    //});

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      if (input.value) {
        message = username.value + ': ' + input.value
        socket.emit('chat message', message);
        //socket.emit('username', username.value);
        input.value = '';
      }
    });

    socket.on('chat message', function (msg) {
      var item = document.createElement('li');
      item.textContent = msg;
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
    });
  </script>
</body>